{% extends "core/base.html" %}

{% block content%}
    <h2>
        <div class="pull-right">
            <a href="{% url 'bookcases:bookshelf_edit' bookshelf.pk %}">
                <i class="fa fa-pencil-square"></i>
            </a>
        </div>
        {{bookshelf.shelf_label}}
    </h2>
    <p>
        <em>
            There {{bookshelf.book_count|pluralize:"is,are"}} 
            {{ bookshelf.book_count }} book{{bookshelf.book_count|pluralize}} on this shelf.
        </em>
    </p>

    {% if books %}
        <h3>Books</h3>
        <hr>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    {% include "books/_book_thumbnail.html" %}
                </div>
        </div>

            {% endfor %}
    {% endif %}
{% endblock content%}