body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7b/Bkwm.jpeg");
    background-repeat: no-repeat;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eee;
}

.page-footer hr {
    margin-top: 0;
    border-color: #aaa;
}

.main-content {
    background: rgba(255, 255, 255, 0.7);
    /*background-color: #fff;*/
    padding: 20px;
    border: 1px solid #ddd;
    min-height: 80vh;
    border-radius: 2px;
}

.index-content {
    margin-top: 40vh
    min-height: auto;
}


.book-cover {
   margin: 0 auto;
}